<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="13"
    android:versionName="2.3"
    package="com.oldmarket">
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="25"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true">
        <activity android:name="com.oldmarket.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.oldmarket.ui.SearchActivity"/>
        <activity android:name="com.oldmarket.ui.CategoryListActivity"/>
        <activity android:name="com.oldmarket.ui.CategoryAppsActivity"/>
        <activity android:name="com.oldmarket.ui.SettingsActivity"/>
        <activity android:name="com.oldmarket.ui.AppDetailActivity"/>
        <service android:name="com.oldmarket.service.DownloadService"/>
        <service android:name="com.oldmarket.service.UpdateCheckService"/>
        <activity android:name="com.oldmarket.ui.LoginActivity"/>
        <activity android:name="com.oldmarket.ui.ProfileActivity"/>
        <activity android:name="com.oldmarket.ui.UserProfileActivity"/>
        <activity android:name="com.oldmarket.ui.DownloadsActivity"/>
    </application>
</manifest>
